* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo-container img {
  width: 150px;
}
.nav-items ul {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav-items ul > li {
  padding: 10px;
  margin: 10px;
}
.res_card {
  width: 200px;
  height: 300px;
  background-color: #f0f0f0;
  padding: 5px;
  margin-left: 20px;
}
.res_card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.res_card > img {
  width: 100%;
  height: 50%;
}
.Search {
  padding: 10px;
}
.res-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
